<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="shopERP.hr.model.hr_basic" alias="hr_basic"/>
		<typeAlias type="shopERP.hr.model.deptList" alias="deptList"/>
		<typeAlias type="shopERP.groupware.model.Notice" alias="Notice"/>
		<typeAlias type="shopERP.purchase.model.PurchaseListView" alias="PurchaseListView"/>
		<typeAlias type="shopERP.purchase.model.Customer" alias="GetCustomer"/>
		<typeAlias type="shopERP.purchase.model.Product" alias="GetProduct"/>
		<typeAlias type="shopERP.purchase.model.WareHouse" alias="GetWareHouse"/>
		<typeAlias type="shopERP.purchase.model.PurchaseSearch" alias="PurchaseSearch"/>
		<typeAlias type="shopERP.purchase.model.Search" alias="PurchaseSearchList"/>
		<typeAlias type="shopERP.purchase.model.Purchase" alias="Purchase"/>
		<typeAlias type="shopERP.sale.model.Sale" alias="Sale"/>
		<typeAlias type="shopERP.sale.model.SaleListView" alias="SaleListView"/>
		<typeAlias type="shopERP.sale.model.Search" alias="SaleSearch"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="shopERP/hr/mapper/HR.xml"/>
		<mapper resource="shopERP/accounting/mapper/accounting.xml"/>
		 <mapper resource="shopERP/groupware/mapper/Gw.xml"/>
		  <mapper resource="shopERP/sale/mapper/sale.xml"/>
		   <mapper resource="shopERP/purchase/mapper/purchase.xml"/>
	</mappers>
	
</configuration>
