@CHARSET "UTF-8";


.table td {

    line-height: 1.11;
    padding: 4px 2px 5px;
    word-wrap: break-word;
        vertical-align: middle;
}

.table #moneyList {
    border-collapse: collapse;
    font-size: 12px;
        vertical-align: middle;
}

input.default {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #808080;
    font-size: 12px;
    height: 15px;
    line-height: 1.2;
    margin: 0;
    padding: 0px;
    vertical-align: middle;
}

